*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-height: 100vw;
    font-family: "Poppins", sans-serif;
}
.box-1{
    width: 100%;
    height: 100px;
}
.box-1 img{
    width: 27px;
    height: 27px;
}
.box-1 h1{
    font-size: 34px;
    color: #c80071;
}